@page "/"
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    h1, h6 {
        text-align: center;
    }

    #inner {
        display: table;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .space-top {
        padding-top: 20px;
    }

    .space-bottom {
        padding-bottom: 20px;
    }

    .label-space-top {
        padding-top: 10px;
    }

</style>

<PageTitle>Index</PageTitle>

<h1 class="title-transition">Welcome to Vet Appointment App!</h1>

<h6 class="subtitle-transition">The best way to take care of your little friend 🤍</h6>

<img src="./veterinarian-png-transparent-png.png" alt="Cute image" />

<div id="inner" class="nav-item px-3 space-top">
    <NavLink class="nav-link" href="accountsoverview">
        <button class="btn btn-success btn-login">Login</button>
    </NavLink>
</div>