@page "/clinic/{ClinicId:guid}/appointments"

<PageTitle>Add Appointments to Clinic</PageTitle>
<h3>Add Vets to Clinic</h3>

@if (AppointmentsToGet == null)
{
    <p><em>No appointments in this clinic.</em></p>
}
else
{
}